body {
    font-size: 13px;
    margin: 2% 6% 1% 6%;
    font-family: Montserrat, sans-serif;
    display: grid;
    grid-template-areas: 
        "header" 
        "main" 
        "footer";
    grid-template-rows: 90px 1fr 65px;
    grid-template-columns: 100%;
    grid-gap: 20px;
}

header {
    background-color: #31353d;
    border-radius: 20px;
    height: 70px;
    color: white;
    padding: 1px 0 1px 0;
    text-align: center;
}

table {
    padding: 10px;
    border: 2px;
    color: #31353d; 
}

main {
    background-color: #F0F8FF;
    border-radius: 20px;
    padding: 5px;
}

#grid {
    text-align: center;
    font-size: 18px;
    padding: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer {
    text-align: left;
    color: white;
    background-color: #F0F8FF;
    border-radius: 20px;
    padding: 5px;
}

.photo {
    text-align: center;
    width: 200px;
}

.photo:hover {
    margin-top: 20px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

a {
    color: #31353d;
}

.some-component {
    position: sticky;
    top: 0px;
}






#mainHeader {
    grid-area: header;
}

#mainMain {
    grid-area: main;
}

#mainFooter {
    grid-area: footer;
}