body {
    font-size: 13px;
    margin: 2% 6% 1% 6%;
    font-family: Montserrat, sans-serif;
    display: grid;
    grid-template-areas: 
        "header header" 
        "photo main"
        "video main"
        "footer footer";
    grid-template-rows: 90px 1fr 200px 85px;
    grid-template-columns: 30% 70%;
    grid-gap: 20px;
}

header {
    background-color: #31353d;
    border-radius: 20px;
    height: 70px;
    color: white;
    padding: 1px 0 1px 0;
    margin-bottom: 15px;
    text-align: center;
}

main {
    background-color: #F0F8FF;
    border-radius: 20px;
    padding: 20px 50px 0 50px;
}

footer {
    text-align: left;
    color: white;
    background-color: #F0F8FF;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
}

.photo {
    border-radius: 20px;
    width: 400px;
}

.photo:hover {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

#player {
    width: 400px;
    margin-left: 10px;
}

.class {
    text-align: center;
}

a {
    color: #31353d;
    padding-left: 10px;
}

.some-component {
    position: sticky;
    top: 0px;
}





#mainHeader {
    grid-area: header;
}

#mainPhoto {
    grid-area: photo;
}

#mainVideo {
    grid-area: video;
}

#mainMain {
    grid-area: main;
}

#mainFooter {
    grid-area: footer;
}