body {
    font-size: 13px;
    margin: 2% 6% 1% 6%;
    font-family: Montserrat, sans-serif;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav ads"
        "main main";
    grid-template-rows: 90px 1fr 310px;
    grid-template-columns: 75% 25%;
    grid-gap: 20px;
}

header {
    background-color: #31353d;
    border-radius: 20px;
    height: 70px;
    color: white;
    padding: 1px 0 1px 0;
    text-align: center;
}

nav, main, #mainAds {
    background-color: #F0F8FF;
    border-radius: 20px;
    padding: 5px;
}

nav a:hover{
    color: #8E45FC;
}

main {
    padding: 20px 50px 0 50px;
}

main h1 {
    text-align: center;
}

#mainAds {
    padding-top: 50px;
    text-align: center;
}

audio {
    margin-top: 20px;
}

footer {
    text-align: left;
    color: white;
    background-color: #F0F8FF;
    border-radius: 20px;
}

.photo {
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    text-align: center;
}

.photogalery {
    padding-left: 30px;
}

a {
    color: #31353d;
    right:500px;
}

.some-component {
    position: sticky;
    top: 0px;
}




#mainHeader {
    grid-area: header;
}

#mainNav {
    grid-area: nav;
}

#mainAds {
    grid-area: ads;
}

#mainMain {
    grid-area: main;
}
